---
import BaseLayout from "../layouts/BaseLayout.astro";
import Nav from "../components/Nav.astro";
import Hero from "../components/Hero.astro";
import Marquee from "../components/Marquee.astro";
import About from "../components/About.astro";
import WhyChoose from "../components/WhyChoose.astro";
import Gallery from "../components/Gallery.astro";
import Pricing from "../components/Pricing.astro";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";
import Lightbox from "../components/Lightbox.astro";
---
<BaseLayout>
  <Nav />
  <Hero />
  <Marquee />
  <About />
  <WhyChoose />
  <Gallery />
  <Pricing />
  <div class="reveal-stage">
    <Contact last />
    <Footer />
  </div>
  <Lightbox />
</BaseLayout>
