---
---
<header class="nav" id="nav">
  <a class="brand" href="/" aria-label="Eli's Barbershop home">
    <img src="/media/eli-logo-white.webp" alt="Eli's Barbershop" />
  </a>
  <nav class="nav-links">
    <a class="link" href="/about">About</a>
    <a class="link" href="/gallery">Gallery</a>
    <a class="link" href="/contact">Contact</a>
    <a class="btn btn--amber nav-cta" href="tel:+14162242877"><span class="label-long">Call&nbsp;</span>(416) 224-2877</a>
  </nav>
</header>
