---
---
<div class="notice" id="notice">
  <span><b>Notice:</b> We're closed Wednesday, April 8th and Thursday, April 9th. Thank you!</span>
  <button class="x" id="noticeClose" aria-label="Dismiss notice">&times;</button>
</div>
